.container {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  max-width: 1600px;
  min-width: 200px;
  margin: 48px auto;
  padding: 32px;
}
.text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 32px;
}
.link {
  width: 173px;
  height: 68px;
}
.route:link {
  text-decoration: none; /* Убирает подчеркивание для ссылок */
  color: #0057ff;
}
.route:visited {
  text-decoration: none;
  color: #0057ff;
}
.route:active {
  text-decoration: none;
  color: #0057ff;
}
