.header{
    background: #ffffff;
    height:64px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;
    max-width: 1600px;
    min-width: 200px;
    margin: 0 auto;
}
ul{
    display: flex;
    justify-content: space-between;
}
li {
    position: relative;
    list-style-type: none;
    margin-left: 3vw;
}

.link-style-header:link {
    text-decoration: none;
    color: black
}
.link-style-header:visited { text-decoration: none; color: black}
.link-style-header:active { text-decoration: none; color: #0057FF}
.favicon{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #000000;
}