.component-container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 0 2vw;
    align-items: center;
    background: #F2F2F2;
    flex-wrap: wrap;
    margin-bottom: 24px;
}
.inf-container{
    display: flex;
}
.inf-container-items{
    margin-right: 7vw;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    width: 120px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
svg:hover{
    cursor: pointer;
}
.input-count{
    width:30px;
    background: #F2F2F2;
    border-top: #000000;
    border-right: #000000;
    border-left: #000000;
}