.flex-container-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}
.card-visa {
  background: url(http://www.psdgraphics.com/file/world-map-background.jpg)
    no-repeat center center;
  background-size: cover;
  color: white;
  height: 250px;
  width: 400px;
  border: 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 20px;
  margin-right: 2vw;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.number-ccv-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.holder-date-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.input-container {
  display: flex;
  flex-direction: column;
}
.input-date {
  width: 30px;
  margin-left: 10px;
}
.input-label {
  margin-left: 10px;
}
